.button-more {
  text-align:center;
  margin-top:50px;
}

.button-more a {
  padding: 10px;
  padding-left: 20px;
  border: 1px solid #CCCCCC;
  padding-right: 20px;
  background-color: #6C9CC2;
  color: rgb(250, 250, 250);
  box-shadow: 0px 0px 10px #999999;
}

.button-more a:hover {
  text-decoration:none;
  background-color:#1C649C;
  box-shadow: 0px 0px 5px #999999;
}

figure {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

pre code.language-text {
  word-wrap: break-word;
  white-space: pre-wrap;
}

body.game {
  background: url('/img/background.png');
}

body.game .github-banner {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1;
}

body.game .content {
  position: relative;
  width:1200px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 50px;
}

body.game #game {
  box-shadow:0px 0px 30px #888;
  float:left;
}

body.game #prev-level, body.game #next-level {
  width:100px;
  height:600px;
  float:left;
  cursor:pointer;
  color:#E5E5E5;
}

body.game #prev-level:hover, body.game #next-level:hover {
  width:100px;
  height:600px;
  float:left;
  cursor:pointer;
  color:#999999;
}

body.game #prev-level i, body.game #next-level i {
  display:block;
  font-size: 80px;
  margin-top: 260px;
  text-align: center;
}

body.game #buffer {
  display:none
}

body.game #loading {
  position:absolute;
  top:100px;
  width:1200px;
  text-align:center;
}

body.game #chrono {
  position:absolute;
  top:20px;
  left:1014px;
  font-size:20px;
  background-color:black;
  color:white;
  padding:10px;
  width:46px;
  opacity:0.5;
  text-align:center;
  line-height:16px;
}

body.game .select-level {
  float:left;
  margin-left:100px;
}

body.game .hint {
  font-size:12px;
  text-align:right;
  float:right;
  margin-right:100px;
}

