---
layout: default
title: XMoto.io
---
<!-- Content
    ================================================== -->
  <div class="top-strip"></div>
  <div class="content">
    <main class="container">
    	<div class="row-fluid">
    		<section class="content">
    		  <h1>XMoto.io</h1>
    		</section>

        <div>
          Hi, I'm <a href="https://twitter.com/michaelhoste">Michaël Hoste</a>, a Ruby on Rails & CoffeeScript developper from <a href="http://80limit.com">80LIMIT</a>, a Belgium-based company.

          I like to create games on my spare time, so I decided to write this blog about the development, step by step, of a HTML5 version of <a href="http://xmoto.tuxfamily.org/">XMoto</a>.
        </div>

        <br/>

        <div id="loading">
          Loading, please wait...
        </div>

        <canvas id="game" width="684" height="420">
        </canvas>

        <canvas id="buffer" width="1026" height="630" style="display:none">
        </canvas>

        <div style="float:left;font-size:14px">
          Select your level :
          <select id="levels">
            <option value="l1.lvl" selected>l1.lvl</option>
            <option value="l2.lvl">l2.lvl</option>
            <option value="l3.lvl">l3.lvl</option>
            <option value="l4.lvl">l4.lvl</option>
            <option value="l5.lvl">l5.lvl</option>
            <option value="l7.lvl">l7.lvl</option>
            <option value="l1038.lvl">l1038.lvl</option>
            <option value="l74.lvl">l74.lvl</option>
          </select>
        </div>
        <div style="font-size:12px;text-align:right;float:right;">
          "arrows" to move / "space" to turn / "enter" to restart / "scroll" to zoom
        </div>
        <div style="clear:both">
        </div>

        <div class="button-more">
          <a href="http://js.xmoto.io/?level=1010">
            Play Fullscreen With More Levels
          </a>
        </div>

    		<ul class="entries">
    		{% for post in paginator.posts reversed %}
    		  <li>
    		    <a href="{{ post.url }}">
                      <span style="display:none">{{ post.date | date: "%d %B %Y" }}</span>
    		        <h3>{{ post.title }}</h3>
                <!--
                <div>{{ post.content | truncatehtml | truncatewords: 30 }}</div>
                !-->
    		    </a>
    		  </li>
    		{% endfor %}
    		</ul>
    	</div>
      <hr>
      <div id="post-pagination">
        {% if paginator.previous_page %}
        <p class="prev">
          {% if paginator.previous_page == 1 %}
          <a href="/">Previous</a>
          {% else %}
          <a href="/page{{paginator.previous_page}}"> Previous</a>
          {% endif %}
        </p>
        {% else %}
<!--         <p class="prev disabled">
          <span>Previous</span>
        </p> -->
        {% endif %}

        <ul class="pages">
          <li class="page">
            {% if paginator.page == 1 %}
<!--             <span class="current-page">1</span> -->
            {% else %}
            <a href="/">1</a>
            {% endif %}
          </li>

          {% for count in (2..paginator.total_pages) %}
          <li class="page">
            {% if count == paginator.page %}
            <span class="current-page">{{count}}</span>
            {% else %}
            <a href="/page{{count}}">{{count}}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>

        {% if paginator.next_page %}
        <p class="next">
          <a href="/page{{paginator.next_page}}">Next</a>
        </p>
        {% else %}
<!--         <p class="next disabled">
          <span>Next</span>
        </p> -->
        {% endif %}
      </div>

      <div style="margin-top:-26px;text-align:center">
        <p>Receive a notification when a new article is published.</p>
      </div>


      <div style="margin-left:144px;margin-bottom:20px">
        <iframe src="https://madmimi.com/signups/93390/iframe" scrolling="no" frameborder="0" height="186" width="400"></iframe>
      </div>

    </main>
  </div>

