---
layout: default
title: XMoto.io - JavaScript Port of XMoto using Box2D
---
<!-- Content
    ================================================== -->
  <div class="top-strip"></div>
  <div class="content">
    <main class="container">
    	<div class="row-fluid">
    		<section class="content">
    		  <h1>XMoto.io</h1>
    		</section>

        <div>
          <p>
            I'm <a href="https://twitter.com/michaelhoste">Michaël Hoste</a>, a Ruby on Rails & CoffeeScript developer from <a href="http://80limit.com">80LIMIT</a>, a Belgium-based company.
          </p>

          <p>
            I create games on my spare time, and this is the step by step development of a Web version of <a href="http://xmoto.tuxfamily.org/">XMoto</a>.
            I hope it will be useful to other developers interested in developing a small 2D game using a physics engine like <a href="https://box2d.org/">Box2D</a>.
          </p>
        </div>

        <br/>

        <div id="loading">
          Loading, please wait...
        </div>

        <canvas id="xmoto" width="684" height="420">
        </canvas>

        <div style="float:left;font-size:14px">
          Select your level :
          <select id="levels">
            <option value="l1.lvl" selected>l1.lvl</option>
            <option value="l2.lvl">l2.lvl</option>
            <option value="l3.lvl">l3.lvl</option>
            <option value="l4.lvl">l4.lvl</option>
            <option value="l5.lvl">l5.lvl</option>
            <option value="l7.lvl">l7.lvl</option>
            <option value="l1038.lvl">l1038.lvl</option>
            <option value="l74.lvl">l74.lvl</option>
          </select>
        </div>
        <div style="font-size:12px;text-align:right;float:right;">
          "arrows" to move / "space" to turn / "enter" to restart / "scroll" to zoom
        </div>
        <div style="clear:both">
        </div>

        <div class="button-more">
          <a href="http://js.xmoto.io/?level=1010">
            Play Fullscreen With More Levels
          </a>
        </div>

    		<ul class="entries">
    		{% for post in paginator.posts reversed %}
    		  <li>
    		    <a href="{{ post.url }}">
                      <span style="display:none">{{ post.date | date: "%d %B %Y" }}</span>
    		        <h3>{{ post.title }}</h3>
                <!--
                <div>{{ post.content | truncatehtml | truncatewords: 30 }}</div>
                !-->
    		    </a>
    		  </li>
    		{% endfor %}
    		</ul>
    	</div>
      <hr>
      <div id="post-pagination">
        {% if paginator.previous_page %}
        <p class="prev">
          {% if paginator.previous_page == 1 %}
          <a href="/">Previous</a>
          {% else %}
          <a href="/page{{paginator.previous_page}}"> Previous</a>
          {% endif %}
        </p>
        {% else %}
<!--         <p class="prev disabled">
          <span>Previous</span>
        </p> -->
        {% endif %}

        <ul class="pages">
          <li class="page">
            {% if paginator.page == 1 %}
<!--             <span class="current-page">1</span> -->
            {% else %}
            <a href="/">1</a>
            {% endif %}
          </li>

          {% for count in (2..paginator.total_pages) %}
          <li class="page">
            {% if count == paginator.page %}
            <span class="current-page">{{count}}</span>
            {% else %}
            <a href="/page{{count}}">{{count}}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>

        {% if paginator.next_page %}
        <p class="next">
          <a href="/page{{paginator.next_page}}">Next</a>
        </p>
        {% else %}
<!--         <p class="next disabled">
          <span>Next</span>
        </p> -->
        {% endif %}
      </div>

      <div style="margin-bottom: 70px;">
        <h3>COVID-XMoto <small>(Update March 2022)</small></h3>

        <p>
          Many years after this project was shelved, and out of nowhere, <a href="https://jamesfator.com/">James Fator</a>
          decided to fork this project to make a heavily modified version of XMoto.js, dedicated to the somewhat
          strange years of the COVID virus.
        </p>

        <p>
          The COVID-19 confirmed cases timeseries has become a mountain of flags which you must climb with your motorcycle!
          Can you win the race for the cure?
        </p>

        <p>
          <a href="//covid.xmoto.io">
            <img src="/img/xmoto-covid.png" alt="COVID-XMoto"/>
          </a>
        </p>

        <div class="button-more">
          <a href="//covid.xmoto.io">
            Play COVID-XMoto
          </a>
        </div>

        <br/><br/>

        <p>
          The COVID-XMoto fork can be found <a href="https://github.com/JamesFator/COVID-XMoto/">here</a>.
        </p>

        <p>
          Thanks again to <a href="https://jamesfator.com/">Fames Fator</a> for this nice project!
          I'm always happy to see that open-sourcing side projects can lead to unexpected things 🙂
        </p>
      </div>

    </main>
  </div>

